<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.nirogstreet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".uttil.ApplicationSingleton"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".onboard.OnBoardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.InviteNotificationListing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.OpenDocument"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Student_Profile"
            android:screenOrientation="portrait" />
        <activity android:name=".activites.Test" />
        <activity
            android:name=".activites.Splash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.PublicShare"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activites.ReferalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.LoadHtmlPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Module_Detail_Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activites.Knowledge_Centre_Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.YoutubeVideo_Play"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activites.MemberListing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.GroupNotificationListing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ShareOnFriendsTimeline"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.MultipleSelectGroup"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activites.FullScreenImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.DocumentWebView"

            android:screenOrientation="portrait" />

        <activity
            android:name=".activites.CommunitySearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.PostDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >

            <intent-filter><data android:scheme="nirogstreet" android:host="open"></data>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

            </intent-filter>
        </activity>
        <activity
            android:name=".activites.AlbumGallary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.PostEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.CreateCommunity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.CommunitiesDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Timings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.VideoPlay_Activity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activites.Multi_Select_Search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Multi_Select_Search_specialization"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.CreateDrProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.NotificationListing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.LikesDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.CommentsRepilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Dr_Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Dr_Qualifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.EditQualificationDetailOrAddQualificationsDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.EditRegistrationAndDocuments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.LoginWithOTP"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activites.RegistrationAndDocuments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SelectCouncilName"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AddOrEditExperience"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Experience"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SelectSingleCity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activites.AddOrEditMemberShip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.MemberShip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AddOrEditClinicDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SpecilizationAndService"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SearchLocationCity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Award"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.HelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AlbumSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/MultipleImageSelectTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.PostingActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"

            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.ImageSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/MultipleImageSelectTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.AddOrEditAward"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Multiple_select_invite_search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SingleSelectQualifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.UpdateCommunity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AllClinicListing"
            android:screenOrientation="portrait" />
        <activity android:name=".activites.AllClinicSearch" />

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".uttil.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_hiwJ6zqBZG0JaThvDNSV3cemyCbGkuMX" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_oozT8ysCWGYUgGixqPQS3kpeqzaQlt9e" />

        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBs5DG6WdN3rDaCLj6aI6SumK6arLW4Kk0" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9a465f2491e3e6e8f1c1a61ada1352a4d31f8d5f" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.app.nirogstreet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>