<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.nirogstreet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_SMS" />
    <uses-permission-sdk-23 android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".uttil.ApplicationSingleton"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".activites.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.Multi_Select_Search_specialization"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.CreateDrProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Dr_Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Dr_Qualifications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.EditQualificationDetailOrAddQualificationsDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.EditRegistrationAndDocuments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.RegistrationAndDocuments"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AddOrEditExperience"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Experience"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AddOrEditMemberShip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.MemberShip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AddOrEditClinicDetail"
            android:screenOrientation="portrait" />
        <activity android:name=".activites.SpecilizationAndService"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activites.SearchLocationCity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.Award"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.AddOrEditAward"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.SingleSelectQualifications"
            android:screenOrientation="portrait" />

        <service android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".uttil.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBs5DG6WdN3rDaCLj6aI6SumK6arLW4Kk0" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9a465f2491e3e6e8f1c1a61ada1352a4d31f8d5f" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.app.nirogstreet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>